/* General Styles */
.home {
  position: relative;
  padding: 20px;
  background-color: #333;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom of the container */
  padding: 10px;
  background-color: #444;
  text-align: center;
  width: 100%;
  color: #fff;
}

.paragraph {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: bold;
  color: #ffcc00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe-list-container {
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.recipe-list .MuiListItem-root {
  padding: 8px 16px;
  border-bottom: 1px solid #555;
}

.recipe-list .MuiListItemText-primary {
  font-size: 18px;
  font-weight: bold;
}

.image-slider {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-slider img {
  width: 100%;
  height: auto;
  display: block;
}

.links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.cookie-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.cookie-popup button {
  margin: 0 8px;
}

.cookie-popup p {
  margin-bottom: 16px;
  font-size: 14px;
}

/* Media Queries for Responsive Design */

/* 1200px and up */
@media (min-width: 1200px) {
  .paragraph {
    font-size: 20px;
    max-width: 900px;
  }

  .recipe-list-container {
    max-width: 400px;
  }

  .image-slider {
    width: 400px;
  }
}

/* 1000px and up */
@media (max-width: 1199px) and (min-width: 1000px) {
  .paragraph {
    font-size: 18px;
    max-width: 850px;
  }

  .recipe-list-container {
    max-width: 350px;
  }

  .image-slider {
    width: 350px;
  }
}

/* 900px and up */
@media (max-width: 999px) and (min-width: 900px) {
  .paragraph {
    font-size: 17px;
    max-width: 800px;
  }

  .recipe-list-container {
    max-width: 300px;
  }

  .image-slider {
    width: 300px;
  }
}

/* 980px and up */
@media (max-width: 899px) and (min-width: 980px) {
  .paragraph {
    font-size: 16px;
  }

  .recipe-list-container {
    max-width: 280px;
  }

  .image-slider {
    width: 280px;
  }
}

/* 740px and up */
@media (max-width: 979px) and (min-width: 740px) {
  .paragraph {
    font-size: 15px;
    max-width: 700px;
  }

  .recipe-list-container {
    max-width: 250px;
  }

  .image-slider {
    width: 250px;
  }
}

/* 680px and up */
@media (max-width: 739px) and (min-width: 680px) {
  .paragraph {
    font-size: 14px;
    max-width: 650px;
  }

  .recipe-list-container {
    max-width: 220px;
  }

  .image-slider {
    width: 220px;
  }
}

/* 640px and up */
@media (max-width: 679px) and (min-width: 640px) {
  .paragraph {
    font-size: 13px;
    max-width: 600px;
  }

  .recipe-list-container {
    max-width: 200px;
  }

  .image-slider {
    width: 200px;
  }
}

/* 580px and up */
@media (max-width: 639px) and (min-width: 580px) {
  .paragraph {
    font-size: 12px;
    max-width: 550px;
  }

  .recipe-list-container {
    max-width: 180px;
  }

  .image-slider {
    width: 180px;
  }
}

/* 540px and up */
@media (max-width: 579px) and (min-width: 540px) {
  .paragraph {
    font-size: 11px;
    max-width: 500px;
  }

  .recipe-list-container {
    max-width: 160px;
  }

  .image-slider {
    width: 160px;
  }
}

/* 480px and up */
@media (max-width: 539px) and (min-width: 480px) {
  .paragraph {
    font-size: 10px;
    max-width: 450px;
  }

  .recipe-list-container {
    max-width: 140px;
  }

  .image-slider {
    width: 140px;
  }
}

/* 420px and up */
@media (max-width: 479px) and (min-width: 420px) {
  .paragraph {
    font-size: 9px;
    max-width: 400px;
  }

  .recipe-list-container {
    max-width: 120px;
  }

  .image-slider {
    width: 120px;
  }
}

/* 320px and up */
@media (max-width: 419px) and (min-width: 320px) {
  .paragraph {
    font-size: 8px;
    max-width: 350px;
  }

  .recipe-list-container {
    max-width: 100px;
  }

  .image-slider {
    width: 100px;
  }
}

/* Small screens and less */
@media (max-width: 319px) {
  .paragraph {
    font-size: 7px;
    max-width: 300px;
  }

  .recipe-list-container {
    max-width: 80px;
  }

  .image-slider {
    width: 80px;
  }
}